images/*
darks/*
liveview*
image.jpg
image-resize.jpg
image-processed.jpg
temperature.txt
data.json
log.txt
*.log
*.tmp
*.*202*

# development artifacts
src/*.a
*.o
*.core
*.gcda
gmon.out
.*.sw[pomnq]

# generated binaries
capture
capture_RPiHQ
keogram
startrails
sunwait

# misc
.vscode/configurationCache.log
.vscode/targets.log
.vscode/dryrun.log
*.bak
